# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Generated
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Logs
*.log

# Env
.env